<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @service_provider.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @service_provider.lastname %>
</p>

<%= link_to 'Edit', edit_service_provider_path(@service_provider) %> |
<%= link_to 'Back', service_providers_path %>
